
.background-container {
  background-image: url('https://images.unsplash.com/photo-1501854140801-50d01698950b?q=80&w=1950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Untuk memastikan kontainer konten tetap di depan latar belakang */
  font-family: 'Poppins', sans-serif;
}

  .container-loginregister {
    height: 100vh;
    width: 400px;
    padding: 20px;
    background-color: white;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto; /* Menempatkan kontainer di sebelah kanan */
  }
/* Selector lainnya */

.header {
  padding-left: 20px;
}

.content p {
  padding-left: 20px;
  font-weight: 600;
  font-size: 250%;
  padding-bottom: 20px;
}

.content p .highlighted {
  color: green; /* Menetapkan warna teks pada "emisee" menjadi hijau */
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.form-container {
  padding: 20px;
}
.form-container p {
  font-size: 14px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
}

.continuewith {
  display: flex; /* Mengubah tata letak tombol menjadi flex */
  align-items: center; /* Menengahkan konten secara vertikal */
  justify-content: center;
  width: 100%;
  font-weight: 700;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
}

.continuewith:hover {
  background-color: #00000009; /* Warna latar belakang tombol saat dihover */
}

.continuewith img {
  width: 20px; /* Menetapkan lebar maksimum untuk logo Google */
  margin-right: 8px; /* Menambahkan jarak antara logo dan teks di dalam tombol */

}

.signup, .signin {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: lighter;
}

.signin:hover, .signup:hover {
  background-color: #000000cc;
}

.termofuse p {
  font-size: 12px;
}

.termofuse .highlighted {
  text-decoration: underline;
}

a {
  font: 100px;
  color: #007bff;
  text-decoration: none;
}

.login {
  padding-top: 40px;
}
