body {
    font-family: sans-serif;
    background-image: url(https://img.freepik.com/free-photo/modern-podium-product-design-against-backdrop-tropical-forest_1268-31490.jpg?t=st=1713532753~exp=1713536353~hmac=da0fd95ee0d52c2db62d823bd1b3f7a85db06f7385e8738925ff17673412a1cb&w=1380);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Menggeser kontainer ke kanan */
    align-items: center; /* Mengatur vertikal ke tengah */
    margin: 0; /* Menghilangkan margin bawaan */
    height: 100vh; /* Menetapkan tinggi kontainer utama */
  }
  
  .container {
    height: 60%;
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Selector lainnya */
  
  .header {
    padding-left: 20px;
  }
  
  .content p {
    font-weight: 600;
    font-size: 180%;
    text-align: center;
  }
  
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .form-container {
    padding: 20px;
  }
  .form-container p {
    font-size: 14px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .continuewith {
    display: flex; /* Mengubah tata letak tombol menjadi flex */
    align-items: center; /* Menengahkan konten secara vertikal */
    justify-content: center;
    width: 100%;
    font-weight: 700;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .continuewith img {
    width: 20px; /* Menetapkan lebar maksimum untuk logo Google */
    margin-right: 8px; /* Menambahkan jarak antara logo dan teks di dalam tombol */
  
  }
  
  .signup {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .termofuse p {
    font-size: 12px;
  }
  
  .termofuse .highlighted {
    text-decoration: underline;
  }
  
  a {
    font: 100px;
    color: #007bff;
    text-decoration: none;
  }
  
  .login {
    padding-top: 40px;
  }
  