.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .footer-column {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-logo {
    width: 170px; /* Sesuaikan dengan ukuran logo Anda */
    padding-left: 60px;
  }
  
  .footer h3 {
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
    cursor: pointer;
  }
  .footer ul li a {
    color:black;
  }
  .footer ul li:hover a:hover{
    color: #007bff;
  }
  .footer ul li:hover {
    color: #007bff; /* Ganti warna saat hover sesuai preferensi Anda */
  }
  